<div class="container">
  <h2>Sign up</h2>
  <div class="row"></div>
  <div class="row">
    <div class="col s12 m12 l4 center">
      <div class="card-panel center-align">
        <%= google_sign_in_button proceed_to: create_login_url do %>
         <i class="fa fa-google btn darken-4 white black-text"> Sign in with my Google account</i>
        <% end %>
        <div class="row s12">
          <%= link_to '<i class="fa fa-facebook"></i>&nbsp; &nbsp; Sign up with Facebook'.html_safe, user_facebook_omniauth_authorize_path, class: 'btn blue darken-4' %>
        </div>

      </div>
    </div>
    <div class="col s12 m12 l8 center">
      <div class="card">
        <div class="title-sign-up-page center blue-grey darken-3">
          Sign Up
        </div>

        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <%= render partial: 'shared/devise_message' %>

              <div class="row">
                <div class="input-field col s12 sign-up-fields">
                  <i class="material-icons md-36 prefix icon-account-material">account_circle</i>
                  <%= f.text_field :name, autofocus: true, autocomplete: 'on', :class => 'validate', :placeholder => 'Name (min 3 characters)' %>
                  <i class="material-icons md-36" id="InforCheckNameMatch">done</i>
                  <i class="material-icons md-36" id="InforCheckNameError">error</i>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 sign-up-fields">
                  <i class="material-icons md-36 prefix icon-account-material">email</i>
                  <%= f.email_field :email, autocomplete: 'on', :class => 'validate', :placeholder => 'Email' %>
                  <span id="note-exist-email"><br/>This email is already registered</span>
                  <i class="material-icons md-36" id="InforCheckEmailMatch">done</i>
                  <i class="material-icons md-36" id="InforCheckEmailError">error</i>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 sign-up-fields">
                  <i class="material-icons md-36 prefix icon-account-material">lock_outline</i>
                  <%= f.password_field :password, :autocomplete => 'off', :class => 'validate', :placeholder => 'Password  (min 6 characters)' %>
                  <i class="material-icons md-36" id="InforCheckPasswordLength">done</i>
                  <i class="material-icons md-36" id="InforCheckPasswordLengthError">error</i>
                  <span id="show-message-password"></span>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12 sign-up-fields">
                  <i class="material-icons md-36 prefix icon-account-material">lock_outline</i>
                  <%= f.password_field :password_confirmation, :autocomplete => 'off', :class => 'validate', :placeholder => 'Repeat password' %>
                  <i class="material-icons md-36" id="InforCheckPasswordMatch">done</i>
                  <i class="material-icons md-36" id="InforCheckPasswordError">error</i>
                </div>
              </div>
              <%#= recaptcha_tags %>
              <div class="row center">
                <%= invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm',
                                             class: 'btn pink darken-2 waves-effect waves-light', id: 'button-submit-sign-up',
                                             text: 'Sign Up <i class="material-icons md-24 right">send</i>' %>
              </div>
          <% end %>
          <div class="row center">
            <p>Already have an account? <%= link_to 'Login', new_user_session_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    function submitInvisibleRecaptchaForm() {
      document.getElementById("new_user").submit();
    };
</script>

<script>

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    }

    function checkFormatEmail() {
        var mail = $("#user_email").val();

        var length_email = mail.length;

        if (length_email === 0) {
            $("#note-exist-email").hide();
            $("#InforCheckEmailMatch").hide();
            $("#InforCheckEmailError").hide();
            return;
        }

        var user = {email: mail};

        var response = -1;

        $.ajax({
          type: "GET",
          url: "/check-user",
          data: user,
          async: false,
          success: function (text) {
              response = parseInt(text);
          }
        });

        if ((response === 1) || (response === 2)) {
            $("#note-exist-email").show();
        }

        if (isValidEmailAddress(mail) && response === 0) {
            $("#note-exist-email").hide();
            $("#InforCheckEmailMatch").show();
            $("#InforCheckEmailError").hide();
        }
        else {
            $("#InforCheckEmailMatch").hide();
            $("#InforCheckEmailError").show();
        }

    }

    function checkNameLength() {
        var name = $("#user_name").val();
        var size_of_name = name.length;

        if (size_of_name === 0) {
            $("#InforCheckNameMatch").hide();
            $("#InforCheckNameError").hide();
            return;
        }

        if ((size_of_name >= 3) && (size_of_name <= 25)) {
            $("#InforCheckNameMatch").show();
            $("#InforCheckNameError").hide();
        }
        else {
            $("#InforCheckNameMatch").hide();
            $("#InforCheckNameError").show();
        }
    }

    function checkPasswordLength() {
        var password = $("#user_password").val();
        var size_of_password = password.length;

        if (size_of_password === 0) {
            $("#InforCheckPasswordLength").hide();
            $("#InforCheckPasswordLengthError").hide();
            $("#show-message-password").hide();
            return;
        }

        if (size_of_password >= 6) {
            $("#InforCheckPasswordLength").show();
            $("#InforCheckPasswordLengthError").hide();
        }
        else {
            $("#InforCheckPasswordLength").hide();
            $("#InforCheckPasswordLengthError").show();
        }

    }

    function checkLostFocusPasswordBox() {
        var password = $("#user_password").val();
        var size_of_password = password.length;

        if (size_of_password >= 6) {
            $("#show-message-password").html("<br><br>Your password : " + "<b>" + password + "</b>");
            $("#show-message-password").css("color", "green");

            $("#show-message-password").show();
            $("#show-message-password").fadeOut(6000);
        }
        else {
            $("#show-message-password").hide();
        }
    }

    function checkPasswordMatch() {
        var password = $("#user_password").val();
        var confirmPassword = $("#user_password_confirmation").val();

        if (confirmPassword.length === 0) {
            $("#InforCheckPasswordMatch").hide();
            $("#InforCheckPasswordError").hide();
            return;
        }

        if ((password === confirmPassword) && (password.length > 0)) {
            $("#InforCheckPasswordMatch").show();
            $("#InforCheckPasswordError").hide();
        }
        else {
            $("#InforCheckPasswordMatch").hide();
            $("#InforCheckPasswordError").show();
        }
    }

    $(document).ready(function () {
        $("#InforCheckNameMatch").hide();
        $("#InforCheckNameError").hide();

        $("#InforCheckEmailMatch").hide();
        $("#InforCheckEmailError").hide();

        $("#InforCheckPasswordMatch").hide();
        $("#InforCheckPasswordError").hide();

        $("#InforCheckPasswordLength").hide();
        $("#InforCheckPasswordLengthError").hide();

        $("#note-exist-email").hide();
        $("#show-message-password").hide();

        $("#user_email").focusout(checkFormatEmail);
        $("#user_name").keyup(checkNameLength);

        $("#user_name").mouseup(checkNameLength);
        $("#user_name").focusout(checkNameLength);

        $("#user_password").keyup(checkPasswordLength);
        $("#user_password").focusout(checkLostFocusPasswordBox);

        $("#user_password_confirmation").keyup(checkPasswordMatch);
    });
</script>







