<footer class="page-footer blue-grey darken-3">
  <div class="container" id="customize-home-container">
    <div class="row">
      <div class="col s12 m6 l6 center">
        <h5 class="white-text">Connect us</h5>
        <ul>
          <li>
            <%= link_to image_tag('youtube48.png', :alt => 'Youtube'), root_path, class: 'image-social-footer', target: :blank %>
            <%= link_to image_tag('facebook48.png', :alt => 'Facebook'), root_path, class: 'image-social-footer', target: '_blank' %>
          </li>
        </ul>
      </div>

      <div class="col s12 m6 l4 offset-l2 center">
        <h5 class="white-text">SuperShop</h5>
        <ul>
          <li>
            <%= link_to 'About Us', root_path , :class => 'grey-text text-lighten-3' %>
            <%= link_to ' | Help', root_path , class: 'grey-text text-lighten-3' %>
            <%= link_to ' | Terms of Use', root_path , :class => 'grey-text text-lighten-3' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Enziin Academy
    </div>
  </div>
</footer>