<footer class="page-footer blue-grey darken-3">
  <div class="container" id="customize-home-container">
    <div class="row">
      <div class="col s12 m4 l3 center">
        <h5 class="white-text">Connect us</h5>
        <ul>
          <li>
            <%= link_to image_tag('github48.png', :alt => 'Youtube'), 'https://github.com/baonguyen1320', class: 'image-social-footer', target: :blank %>
            <%= link_to image_tag('facebook48.png', :alt => 'Facebook'), 'https://www.facebook.com/bao.nguyen.me', class: 'image-social-footer', target: '_blank' %>
          </li>
        </ul>
      </div>

      <div class="col s12 m4 l6 center">
        <h5 class="white-text">Webadmin: <a href="/admin" target="_blank">45.77.45.97.xip.io/admin</a></h5>
        <h6 class="white-text">admin@example.com/123456</h6>
      </div>

      <div class="col s12 m4 l3 center">
        <h5 class="white-text">Rails Shop App</h5>
        <ul>
          <li>
            <%= link_to 'About Us', root_path , :class => 'grey-text text-lighten-3' %>
            <%= link_to ' | Help', root_path , class: 'grey-text text-lighten-3' %>
            <%= link_to ' | Terms of Use', root_path , :class => 'grey-text text-lighten-3' %>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 Copyright
    </div>
  </div>
</footer>