<div class="slider row">
  <ul class="slides">
    <li>
      <%= image_tag 'slider-1.jpg', style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%">
        <h3>Rails Shop App</h3>
        <h5>Just to demo</h5>
        <h5>Don't care content pls</h5>
        <h5>Write somethings...</h5>
        <h5>Nothing to write!</h5>
      </div>
    </li>

    <li>
      <%= image_tag 'slider-2.jpg', style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%">
        <h3>Bao Nguyen</h3>
        <h5>RoR Developer</h5>
        <h5>React JS</h5>
        <h5>C# .Net</h5>
        <h5>PHP</h5>
      </div>
    </li>

    <li>
      <%= image_tag 'slider-3.jpg', style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%">
        <h3>Google Sign-In</h3>
        <h5>Google reCaptcha</h5>
        <h5>SSL for IP domain</h5>
        <h5>Use capistrano to auto deploy</h5>
        <h5>Use Vultr's Ubuntu server </h5>
      </div>
    </li>

    <li>
      <%= image_tag 'slider-4.jpg', style: "width: 100%; height: 100%" %>
      <div class="caption left-align" style="top: 3%">
        <h3>Rails App Shop</h3>
        <h5>MVC</h5>
        <h5>Material Theme</h5>
        <h5>OTP Two Factor Authentication </h5>
        <h5>Web admin to manage products</h5>
      </div>
    </li>

    <li>
      <%= image_tag 'slider-5.jpg', style: "width: 100%; height: 100%" %>
      <div class="caption right-align" style="top: 3%">
        <h3>Use Amazon's S3 to storage images</h3>
        <h5>Action Mailer</h5>
        <h5>Pagination</h5>
        <h5>CRUD</h5>
        <h5>Devise</h5>
      </div>
    </li>
  </ul>
</div>

<div class="row row-space-home-page">
</div>

<div class="container" id="customize-home-container">
  <div class="row">
    <div class="col s12 m6 l11">
      <%= form_tag(products_search_path, remote: true, method: :post) do %>
          <div class="input-field">
            <div class="card z-depth-1">
              <div class="search-box-article">
                <i class="material-icons md-36 prefix">search</i>
                <%= text_field_tag :search_text, params[:search_text], placeholder: 'Type and ENTER for search', id: 'textbox_search' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col s12 m6 l1">
      <%= link_to '<i class="material-icons md-72">arrow_drop_up</i>&nbsp;'.html_safe, products_sort_up_path,
                  title: 'Price Up', remote: true, method: :post %>

      <%= link_to '<i class="material-icons md-72">arrow_drop_down</i>&nbsp;'.html_safe, products_sort_down_path,
                  title: 'Price Down', remote: true, method: :post %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l3 left-menu-tab">
      <%= render partial: 'shared/category' %>
    </div>
    <div class="col s12 m12 l9" id="container-products">
      <% if @products.present? && @products.size > 0 %>
          <%= render partial: 'shared/products' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.slider').slider({ height: 720 });
  });
</script>