<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingZiin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  </head>

  <body>
    <%= render partial: 'shared/header'%>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render partial: 'shared/footer'%>
  </body>

  <script>
    $(document).ready(function () {
        $(".button-collapse").sidenav();
        // $(".dropdown-button").dropdown();

        $('.modal').modal();
    });
  </script>
</html>
